.chats-view {
    width       : 410px;
    height      : 100%;
    overflow-y  : scroll;
    border-right: 1px solid var(--line-color);

    @media @phone {
        width       : 100%;
        height      : auto;
        overflow-y  : visible;
        border-right: none;
    }

    >main {
        display       : flex;
        flex-direction: column;

        >section {
            display       : flex;
            flex-direction: column;

            >h2 {}
        }
    }
}